/* font lora link */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --theme-navy-blue : #251D41;
  background-color: #ffffff;
  font-family: 'Lora' !important;
}
.header_section{
  height: 8vh;
  background-color: var(--theme-navy-blue);
}
.ecommerce_logo{
  height: calc(8vh - 1rem);
  width: auto;
}


.container {
  background-color: #F5F5F5;

}

.lottery_ticket_banner{
  height: 45rem;

}

.product-slider {
  height: 35rem;
  overflow: hidden;

}

.product-slider img {
  max-height: 100%;
  max-width: 100%;
  /* overflow: hidden; */

}
.carousel_info{
  background: var(--theme-navy-blue);
  height: 10rem;
}
.font_sm {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.438rem;
  color: #ffffff;

}

.ticket_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
}
.d_none{
  visibility: hidden;
}
.btn_ticket_select {}

.btn_ticket_select {
  height: 3rem;
  width: 3rem;

}

/*for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield!important;
  text-align: center;

}
.btn_ticket_select .btn {
  height: 100%;
  width: 100%;
  padding: .675rem !important;
}

.quiz_options {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;

}
.quiz_option input:checked{
  background-color: chartreuse;
}

.question_picture {
  grid-column: 1;
  grid-row: 1/span 4;
}

.ticket_amount {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
}

.arrow_up,
.arrow_down {
  width: 1rem;
  height: 1rem;
  font-size: .5rem;
  color: #ffffff;
  background: #ABABAB;

}

@media only screen and (max-width: 769px){
  .ticket_amount {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: 1px solid #D9D9D9;
  }
  
  .arrow_up,
  .arrow_down {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: #ffffff;
    background: #ABABAB;
  
  }
  .quiz_options {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1rem;
  
  }
  .question_picture {
    width: 60%;
    margin: auto;
    order: 1;
    grid-column: 1;
    grid-row: 1;
  }
}