/* font lora link */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --theme-navy-blue : #251D41;
  --theme-dark :#242430;
  --theme-dark2:#333333;
  --theme_muted:#868686;
  --theme-off-white: #F4F4F4;
  font-family: 'Lora' !important;
}
body{
  /* background-color: #F5F5F5; */
  background-color:#EEEEEE;

}
.header_section{
  height: 8vh;
  background-color: var(--theme-navy-blue);
}
.ecommerce_logo{
  height: calc(8vh - 1rem);
  width: auto;
}


.row {
  background-color: #ffffff;

}
.banner_heading{
  background-color: var(--theme-dark);
  height: 2.2rem;
  font-size: .625rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.banner_heading p{
  margin: 0!important;
}
.lottery_ticket_banner{
  /* height: 40rem; */

}
.compitition_left_section{
  height: calc(40rem - 2.2rem);
}
.product-slider {
  height: 30rem;
  overflow: hidden;

}

.product-slider img {
  max-height: 100%;
  max-width: 100%;
  /* overflow: hidden; */
  object-fit: cover;

}
.carousel_info{
  border: 2px solid #19226C;
  height: calc(7rem - 2.2rem);
}
.font_sm {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.438rem;
  color: #ffffff;

}

.ticket_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 8rem;
}
.d_none{
  visibility: hidden;
}

.btn_ticket_select {
  height: 4rem;
  width: 4rem;
  font-size: 1.6rem;
  border : 0.125rem solid var(--theme-navy-blue);
  border-radius: 50%;


}

/*for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}

/*Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield!important;
  text-align: center;

}
.btn_ticket_select .btn{
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.price_centerArea{
  background-color: var(--theme-off-white);
  height: 100%;
}
.quiz_options {
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;

}
.modal_alert{
  grid-row: 1;
  grid-column: 1/ span 2;
}

.question_picture {
  grid-column: 1;
  grid-row: 2/span 5;
}
.question_picture img{
  height: 90%;
  width: auto;
  padding: 10%;
  background-image: url('../images/lv.png');
  object-fit: cover;
}

.ticket_amount {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border: .125rem solid var(--theme-dark);
}

.arrow_up,
.arrow_down {
  width: 1.4rem;
  height: 1.4rem;
  font-size: .8rem;
  color: #ffffff;
  background: var(--theme-navy-blue);

}
/* about section start*/
.about_product_section{
  padding: 0 5.25rem;

}
.product_heading{
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 0.625rem;
}
.product_description{
}
.product_details{

}
.dimension-values{
  font-size: 0.813rem;
}
.dimension-info{
  font-size: .55rem;
  color: var(--theme_muted);
}
.product_details_list{
  color: var(--theme-dark2);
  font-size: .813rem;
  padding-left: 1rem;
}
.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
.accordion-button::after {
  
  margin-left: 1rem;
}
.accordion-button:not(.collapsed) {
  color: var(--theme-dark);
  background-color: transparent;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
/* about section end */

.support_area{
  padding:5rem 30rem;
}
.support_heading{
  font-size: 1.375rem;
}
.support_description{
  font-size: 0.75rem;
}

/* perticipate slider start */
.product_area{
  position: relative;
  overflow: hidden;
  padding: 1.25rem;
}
.product_area > .row{
  background-color: transparent;
  flex-wrap: nowrap;
}
.participate_container{
  gap: 1rem;
  padding: 0 10vw;
  overflow-x: scroll;
  scroll-behavior: smooth;

}

.participate_container::-webkit-scrollbar{
  display: none;
}
.participate_container .card{
  border: none;
}

.prev_btn,.next_btn{
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  cursor: pointer;
}
.prev_btn{
  left: 0;
}
.next_btn{
  right: 0;
}

.perticipate_card{
  max-width: 32rem;
  height: fit-content;
}
/* .participate_container img{
  object-fit: cover;
} */
/* perticipate slider End */

/* footer start */
.footer_links{
  display:flex;
  gap: 1rem;  
}
.footer_link{
  text-decoration: none;
  padding: .5rem;
  color: var(--theme-dark);
  font-size: 0.75rem;
}
.footer_pay_links{
  position: relative;
  width: 100%;
  height: 5rem;
}
.footer_pay_links img{
  height: auto;
  width: 3rem;
}
fieldset{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 5rem; 
	border: 2px solid  transparent; 
	border-top-color: black; 
	box-sizing: border-box; 
  animation: linear alternate;
}

legend{
	font-size: 1rem;
	line-height: .25rem;
	font-weight: bold;
	margin-left: 0px; 
	padding: .25rem; 
	
} 

fieldset:nth-of-type(2){
   transform: rotate(90deg); 
    width: 5rem;
  }
fieldset:nth-of-type(3){ transform: rotate(180deg); }
fieldset:nth-of-type(3)>legend{ transform: rotate(180deg); } 

fieldset:nth-of-type(4){
  width: 5rem;
  transform: rotate(-90deg); 
  }

/* footer End */
@media only screen and (max-width: 769px){
  .lottery_ticket_banner {
    height: auto;
}
.compitition_left_section{
  height: auto;
}
.btn_ticket_select{
  height: 3.5rem;
  width: 3.5rem;
}
  .ticket_amount {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    /* border: 1px solid #D9D9D9; */
  }
  .ticket_section {
    justify-items: center;
  }
  .arrow_up,
  .arrow_down {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .5rem;
    /* color: #ffffff;
    background: #ABABAB; */
  
  }
  .quiz_options {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,1fr);
  
  }
  .modal_alert{
    grid-row: 1;
    grid-column: 1;
    order: 1;
  }
  
  .question_picture {
    width: 90%;
    margin: auto;
    order: 2;
    grid-column: 1;
    grid-row: 2;
  }
  .about_product_section{
  padding: 0 .5rem;
  text-align: justify;
  }
  .price_centerArea{
    background-color: transparent;
  }
  /* perticipate slider start */
.product_area{
  padding: .25rem;
}
.product-slider {
  height: 23rem;
}
.participate_container{
  gap: .5rem;
  padding: 0vw;

}
.perticipate_card{
  max-width: 15rem;
}
.perticipate_card .card-title{
  font-size: .5rem;
}
.perticipate_card .card-text{
  font-size: .6rem;

}
.perticipate_card .btn{
  font-size: .5rem;
}
.support_area{
  padding:1rem 2rem;
  text-align: center;
}
.prev_btn,.next_btn{
  /* visibility: hidden; */
  display: none;
}
.footer_links{
  flex-direction: column;
  gap: 0rem;  
}
.footer_pay_links a{
  text-decoration: none;
  padding: 0 .125rem;
}
.footer_pay_links img{
  height: auto;
  width: 1.5rem;
  /* padding: 0 rem; */
}
}
@media only screen and (min-width: 769px) and (max-width:991px){
  :root{

    font-size: 100%;
  }
  .lottery_ticket_banner {
    height: auto;
}
.compitition_left_section{
  height: auto;
}
.ticket_section {
  min-height: 14rem;
  justify-items: center;
}
.btn_ticket_select{
  height: 5rem;
  width: 5rem;
}
  
  .arrow_up,
  .arrow_down {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .5rem;
    /* color: #ffffff;
    background: #ABABAB; */
  
  }
  .quiz_options {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1,1fr);
  
  }
  .modal_alert{
    grid-row: 1;
    grid-column: 1;
    order: 1;
  }
  
  
  .question_picture {
    width: 90%;
    margin: auto;
    order: 2;
    grid-column: 1;
    grid-row: 2;
  }
  .about_product_section{
  padding: 0 .5rem;
  text-align: justify;
  }
  .price_centerArea{
    background-color: transparent;
  }
  /* perticipate slider start */
.product_area{
  padding: .25rem;
}
.product-slider {
  height: 35rem;
}
.participate_container{
  gap: .5rem;
  padding: 0vw;

}
.perticipate_card{
  max-width: 15rem;
}
.perticipate_card .card-title{
  font-size: .5rem;
}
.perticipate_card .card-text{
  font-size: .6rem;

}
.perticipate_card .btn{
  font-size: .5rem;
}
.support_area{
  padding:1rem 2rem;
  text-align: center;
}
.prev_btn,.next_btn{
  /* visibility: hidden; */
  display: none;
}
.footer_links{
  flex-direction: column;
  gap: 0rem;  
}
.footer_pay_links a{
  text-decoration: none;
  padding: 0 .125rem;
}
.footer_pay_links img{
  height: auto;
  width: 1.5rem;
}
}
@media only screen and (min-width: 992px) and (max-width:1200px){
  :root{

    font-size: 70%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px){
  :root{

    font-size: 85%;
  }
}